@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Variables */

/* Neutral */
$very-lt-grayish-blue: hsl(240, 78%, 98%);
$lt-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dk-grayish-blue: hsl(232, 13%, 33%);
$font-size: 15px;
$font-family: "Montserrat", sans-serif;
$font-weight: 700;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid black;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 880px;
    height: 100vh;
    margin: 0;
    background: $very-lt-grayish-blue;
    /*background-image: url("/images/bg-top.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;*/
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

.bg-top {
    position: absolute;
    top: 0;
    right: -150px;
    z-index: -1;
}

.bg-bottom {
    display: none;
}
.container {
    margin: 40px auto 40px auto;
    text-align: center;
}

h1 {
    color: $dk-grayish-blue;
    margin-top: 60px;
}

.toggle__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px auto 60px auto;
    color: $lt-grayish-blue;
}


/* Price Cards Styling */
.price__cards {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price__cards ul {
    list-style-type: none;
    margin: -20px 20px 20px;
}

.price__card {
    display: flex;
    flex-direction: column;
    width: 350px; 
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 10px 1px #cccccc;
    border-radius: 10px;
    background: #ffffff;
}

.price__card h3 {
    margin: 30px 0;
    color: $grayish-blue;
}

.price__card .price {
    margin-bottom: -10px;
    font-size: 4.5em;
}

.price__card > div:nth-child(2) span, .price__card > div:nth-child(3) span {
    font-size: 40px;
    margin-right: 5px;
    padding: 0 5px 10px;
    vertical-align: middle;
}


.price__card .hide-unchecked {
    visibility: hidden;
}

.price__card ul li {
    padding: 10px 30px;
    border-top: 1px solid $lt-grayish-blue;
    color: $grayish-blue;
}

.price__card ul li:last-child {
    border-bottom: 1px solid $lt-grayish-blue;
}

.price__card .cta-btn {
    width: 285px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $font-weight;
    letter-spacing: 2px;
    color: #ffffff;
}

.center {
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    h3 {
        color: #ffffff;
    }
    .price {
        color: #ffffff;
    }
    ul li {
        color: #ffffff;
    }
    .cta-btn {
        background: #ffffff;
        color: hsl(237, 63%, 64%);
    }
}




/* Footer Styling */
footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}