@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');

/* Variables */

/* Neutral */
$very-lt-grayish-blue: hsl(240, 78%, 98%);
$lt-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dk-grayish-blue: hsl(232, 13%, 33%);
$font-size: 15px;
$font-family: "Montserrat", sans-serif;
$font-weight: 700;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 880px;
    height: 100vh;
    background-image: url("/images/bg-top.svg");
    background-position: top right;
    background-repeat: no-repeat;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}





/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}