@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Variables */

/* Neutral */
$very-lt-grayish-blue: hsl(240, 78%, 98%);
$lt-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dk-grayish-blue: hsl(232, 13%, 33%);
$font-size: 15px;
$font-family: "Montserrat", sans-serif;
$font-weight: 700;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid black;*/
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 880px;
    height: 100vh;
    margin: 0;
    background: $very-lt-grayish-blue;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
}

.bg-top {
    position: absolute;
    top: 0;
    right: -150px;
    z-index: -1;
}

.bg-bottom {
    visibility: hidden;
}
.container {
    margin: 40px auto 40px auto;
    text-align: center;
}

h1 {
    color: $dk-grayish-blue;
    margin-top: 60px;
}

/* Toggle Switch styling */

.toggle__container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 35px auto 60px auto;
}

.toggle__container #checkbox {
    opacity: 0;
    position: absolute;
}

.toggle__container .switch {
    position: relative;
    display: flex;
    align-items: center;
    height: 34px;
    width: 60px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 50px;
    background-color: #111111;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    cursor: pointer;  
}

.toggle__container .toggle-label {
    position: absolute;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    background: #ffffff;
    border-radius: 50px;
    opacity: 0;
}

.toggle__container .switch::before {
    content: "Annually";
    position: absolute;
    left: -100%;
    transform: translateX(-50%);
    color: $lt-grayish-blue;
}

.toggle__container .switch::after {
    content: "Monthly";
    position: absolute;
    right: -200%;
    transform: translateX(-50%);
    color: $lt-grayish-blue;
}

.toggle__container .slider-round {
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    top: 4px;
    height: 25px;
    width: 25px;
    transition: transform 0.2s linear;
}

.toggle__container .switch #checkbox:checked + .slider-round {
    transform: translateX(-29px);
}

.toggle__container #checkbox:active::before {
    left: 0;
}

.toggle__container #checkbox:active {
     background: hsl(236, 72%, 79%);
}




/* Price Cards Styling */
.price__cards {
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price__cards ul {
    list-style-type: none;
    margin: -20px 20px 20px;
}

.price__card {
    display: flex;
    flex-direction: column;
    width: 350px; 
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 10px 1px #cccccc;
    border-radius: 10px;
    background: #ffffff;
}

.price__card h3 {
    margin: 30px 0;
    color: $grayish-blue;
}

.price__card .price {
    margin-bottom: 40px;
    font-size: 4.5em;
}

.price__card > div:nth-child(2) span, .price__card > div:nth-child(3) span {
    font-size: 40px;
    margin-right: 5px;
    padding: 0 5px 10px;
    vertical-align: middle;
}

.price__card ul li {
    padding: 10px 30px;
    border-top: 1px solid $lt-grayish-blue;
    color: $grayish-blue;
}

.price__card ul li:last-child {
    border-bottom: 1px solid $lt-grayish-blue;
}

.price__card .cta-btn {
    width: 285px;
    height: 50px;
    margin-top: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $font-weight;
    letter-spacing: 2px;
    color: #ffffff;
}

.price__card .cta-btn:hover {
    background: transparent;
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(232, 13%, 33%);
}


.center {
    background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    h3 {
        color: #ffffff;
    }
    .price {
        color: #ffffff;
    }
    ul li {
        color: #ffffff;
    }
    .cta-btn {
        background: #ffffff;
        color: hsl(237, 63%, 64%);
    }
    .cta-btn:hover {
        background: transparent;
        color: #ffffff;
        border: 1px solid white;
    }
}




/* Footer Styling */
footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Media Queries */ 
@media only screen and (min-width: 881px) {
    body {
        max-width: 1440px;
    }
    .bg-top {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
    .bg-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        visibility: visible;
    }
    .price__cards {
        flex-direction: row;
    }
    .price__cards .center {
        z-index: 2;
        padding: 60px 30px;
        box-shadow: none;
    }
}
